<article class="media has-centered-items">
  <% unless controller.formats.include? :pdf %>
    <div class="media-left">
      <figure class="w-40 h-40 rounded-full mr-4 is-<%= size %>">
        <% if controller.formats.include? :pdf %>
          <%= image_tag avatar.url, alt: avatar.name, class: 'is-rounded' %>
        <% else %>
          <%= image_tag avatar.url, alt: avatar.name, class: 'round-image' %>
        <% end %>
      </figure>
    </div>
  <% end %>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= avatar.name %></strong>
        <% avatar.blurbs.each do |blurb| %>
          <br>
          <%= blurb %>
        <% end %>
      </p>
    </div>
  </div>
</article>
