<section class="section">
  <div class="container">
    <nav class="level is-mobile is-hidden-desktop">
      <div class="level-item has-text-centered bounceIn">
        <%= render partial: "avatar" %>
      </div>
    </nav>
    <nav class="level is-mobile">
      <div class="level-item has-text-centered is-hidden-touch bounceIn">
        <%= render partial: "avatar" %>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">E-Mail</p>
          <p class="title"><a href="mailto:jeremy.w.rowe@gmail.com"><i class="fas fa-at"></i></a></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Github</p>
          <p class="title"><a target="_blank" href="https://github.com/jeremywrowe"><i class="fab fa-github"></i></a></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Linked-In</p>
          <p class="title"><a target="_blank" href="https://www.linkedin.com/in/jeremywrowe"><i class="fab fa-linkedin"></i></a></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Twitter</p>
          <p class="title"><a target="_blank" href="https://twitter.com/jeremy_w_rowe"><i class="fab fa-twitter"></i></a></p>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-mobile is-hidden-desktop has-centered-text">
        <div class="column">
          <%= render partial: "tldr" %>
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column is-hidden-touch is-one-quarter-desktop">
          <%= render partial: "tldr" %>
        </div>
        <div class="column">
          <p>
            <i class="fas fa-info-circle title has-text-dark"></i>
            <br>
            I am a developer that loves to help take products and teams to the next level. I've built applications of differing scales, languages, and domains.
            My favorite place to be is in uncharted territory, and I typically write automated tests to get myself out of sticky situations.
            I strive to keep applications simple, understandable, performant, and secure.
          </p>
          <br>
          <br>
          <p>
            <i class="fas fa-terminal title has-text-dark"></i>
            <br>
            Although I have programmed in many different languages, I prefer Ruby (on Rails) and JavaScript. That being said, if I am solving interesting problems,
            I am willing to bend on that a little bit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" id="github-section">
  <div class="container has-text-centered">
    <h1 class="title">My Contributions</h1>
    <div id="github-contributions">
      <div class="fa-10x fadeOut">
        <i class="fab fa-github has-text-dark"></i>
      </div>
    </div>
  </div>
</section>

<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column">
          <h1 class="title">
            The nitty gritty
          </h1>
          <h2 class="subtitle has-text-dark">
            (resumé)
          </h2>
        </div>
        <div class="column is-two-thirds">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <h1 class="title">Experience</h1>
  <div class="columns is-multiline is-hidden-touch">
    <div class="column has-text-weight-bold">
      Company
    </div>
    <div class="column has-text-weight-bold">
      Duration
    </div>
    <div class="column has-text-weight-bold">
      Role
    </div>
    <div class="column is-half has-text-weight-bold">
      Description
    </div>
  </div>
  <% @document.experiences.each_with_index do |experience, index| %>
    <div class="columns is-multiline <%= index.even? ? 'has-background-white-ter' : nil %>">
      <div class="column">
        <%= experience.company %>
      </div>
      <div class="column">
        <%= experience.duration %>
      </div>
      <div class="column">
        <%= experience.title %>
      </div>
      <div class="column is-half">
        <%= experience.description %>
      </div>
    </div>
  <% end %>
</section>

<script>
  window.onload = function() {
    GitHubCalendar('#github-contributions', 'jeremywrowe');
  }
</script>
