<section class="section">
  <div class="container">
    <nav class="level is-mobile is-hidden-desktop">
      <div class="level-item has-text-centered bounceIn">
        <%= render partial: "avatar", locals: { size: '64x64', avatar: @resume_content.avatar } %>
      </div>
    </nav>
    <nav class="level is-mobile">
      <div class="level-item has-text-centered is-hidden-touch bounceIn">
        <%= render partial: "avatar", locals: { size: '128x128', avatar: @resume_content.avatar } %>
      </div>
      <% @resume_content.contact_locations.each do |location| %>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"><%= location.heading %></p>
            <p class="title">
              <a target="_blank" href="<%= location.link %>">
                <i class="<%= location.icon %>" /></i>
              </a>
            </p>
          </div>
        </div>
      <% end %>
    </nav>
  </div>
</section>

<section class="hero is-small is-info has-text-weight-semibold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column">
          <p>
            <br>
            <%= @resume_content.bio %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <h1 class="title mb-6">Experience</h1>
  <% @resume_content.experiences.each_with_index do |experience, index| %>
    <div class="columns is-multiline pt-2 <%= index.even? ? 'has-background-white-ter' : nil %>">
      <div class="column has-text-weight-bold">
        <%= experience.company %>
      </div>
      <div class="column">
        <% experience.durations.each do |duration| %>
          <%= content_tag :div, duration.include?('Present') ? "<i>#{duration}</i>".html_safe : duration %>
        <% end %>
      </div>
      <div class="column">
        <% experience.titles.each do |title| %>
          <%= content_tag :div, title %>
        <% end %>
      </div>
    </div>
    <div class="columns is-multiline pb-2 mb-6 <%= index.even? ? 'has-background-white-ter' : nil %>">
      <div class="column">
        <div>
          <%= experience.description %>
        </div>
        <br />
        <div class="tags">
          <% experience.technologies.each do |technology| %>
            <%= tech_tag(technology) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>

<section class="section">
  <%= link_to resume_path(format: :pdf), class: 'button is-info is-medium is-pulled-right' do %>
    <i class="far fa-file-pdf"></i>&nbsp;Download Resume
  <% end %>
  <br />
</section>
